/* H1,second Headings FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* header Numbers */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    width: 900px;
    margin: 10px auto;
    padding: 25px;

}
.parentContainer {
    background-color: rgba(195, 124, 87,0.2);
    color: #c37c57;
    /* padding: 5px; */
    border: 2px solid #c37c57;
}
.text-center {
    text-align: center;
}
.textColorBlack {
    color: black;
    /* padding: 5px; */
    font-weight:900;
}
.headingDiv {
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    border: 2px solid;
   
}
.GovtEducationLogo {
    width: 125px;
    height: 125px;

}
.APEducationLogo {
    width: 175px;
    height: 175px;
}
.CandidatePicture {
    width: 200px;

}
h1 {
    width: 100%;
    font-size: 1.7rem;
    font-family: "Noto Serif", serif;
    font-weight: 900;
   
}
p{
    position: relative;
}
span.absolute {
    position: absolute;
    bottom: -25px;
}
span.absolute2 {
    position: absolute;
    bottom: 25px;
}
.headerNumber {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-top: 10px;
}
.secondHeading {
    font-size: 1.5rem;
    font-family: "Noto Serif", serif;
    font-weight: 900;

}
.candidateDetails {
    background-color: rgba(255, 171, 86,0);
    width: 100%;
}
.candidateDetailsTable{
    border-spacing: 20px;
    font-size: 1.2rem;
    border: 2px solid;
    width: 100%;
    font-weight: 800;
    /* border-collapse: collapse;   */
    
}
.candidateDOBTable{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.2rem;
  
}
.candidateDOBTable td,th, .marksTable td,th {
    border: 2px solid #c37c57;
    padding: 10px;
}
.candidateMarks {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.2rem;
    border: 2px solid;

}
.marksTable {
    border-collapse: collapse;
    align-self: center;
    margin-bottom: 60px;
    
}
.marksTable table{
        border: 2px solid #c37c57;
        border-collapse: collapse;
        padding: 20px;
}
.signatures {
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    border: 2px sloid;
}
.footerLeft {
    width: 65%;
    border-right: 2px solid;
    
}
.scannerImage {
    width: 80%;
    height: 35px;

}
.footerRight {
    width: 35%;
    padding: 30px;
}
.numberBottomEnd {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding-right: 15px;
}